%h2 Sign in
- semantic_form_for :session, :url => session_path do |form|
  - form.inputs do
    = form.input :email
    = form.input :password, :as => :password
  - form.buttons do
    = form.commit_button "Sign in"
%ul
  %li
    = link_to "Sign up", sign_up_path
  %li
    = link_to "Forgot password?", new_password_path
