%h2= t("sessions.new.title")
- semantic_form_for :session, :url => session_path do |form|
  - form.inputs do
    = form.input :email
    = form.input :password, :as => :password
  - form.buttons do
    = form.commit_button t("sessions.new.sign_in_button")
%ul
  %li
    = link_to t("sessions.new.sign_up_link"), sign_up_path
  %li
    = link_to t("sessions.new.forgotten_password_link"), new_password_path
