%h2= t("users.destroy.title")
%p= t("users.destroy.blurb")
%h3= t("users.destroy.are_you_sure")
- form_for current_user, :html => { :method => :delete, :class => "delete_user" } do |f|
  = submit_tag t("users.destroy.destroy_button")
  = link_to t("users.destroy.back_link"), knots_path