%h2= t("users.edit.title")
- semantic_form_for @user do |form|
  = form.error_messages
  - form.inputs do
    = form.input :nickname
    = form.input :language, :as => :select, :collection => AVAILABLE_LANGUAGES
  - form.inputs :name => t("users.edit.password_fieldset"), :id => "password_fields" do
    = form.input :password, :as => :password, :label => t("users.edit.password_label")            
    = form.input :password_confirmation, :as => :password, :label => t("users.edit.password_confirmation_label")
  - form.buttons do
    = form.commit_button t("users.edit.save_button")