%h2= t("users.new.title")
- semantic_form_for @user do |form|
  = form.error_messages
  = render :partial => "/users/inputs", :locals => { :form => form }
  - form.buttons do
    = form.commit_button t("users.new.sign_up_button")
    %p
      = t("users.new.or")
      = link_to t("users.new.cancel"), root_path
