#login
  .toolbar
    %h1 Filo
    %a.button.flip{ :href => "#about"} About
    
  %div
    %h2 Sign in
    - form_for :session, :url => session_path do |form|
      %ul
        %li= form.text_field :email, :placeholder => "email"
        %li= form.password_field :password, :placeholder => "password"
        %li= form.submit "Sign in", :class => "submit"
        
    %h2 Sign up
    - form_for :user, :url => users_path do |form|
      %ul
        %li= form.text_field :email, :placeholder => "email"
        %li= form.password_field :password, :placeholder => "password"
        %li= form.password_field :password_confirmation, :placeholder => " confirm password"
        %li= form.submit "Sign up", :class => "submit"    
