%h1= t("knots.index.title")
= link_to t("knots.index.new_knot_link"), new_knot_path
%h2= t("knots.index.unread")
%ol.knots.unread
  = render :partial => 'knot', :collection => @knots.unread
%h2= t("knots.index.read")
%ol.knots.read
  = render :partial => 'knot', :collection => @knots.read
#trashcan
  = t("knots.index.trash_count")
