<h1>Listing knots</h1>
<%= link_to 'New knot', new_knot_path %>

<h2><%= t("knots.index.unread")%></h2>
<ol class="knots unread">
<%= render :partial => 'knot', :collection => @knots.unread %>
</ol>

<h2><%= t("knots.index.read")%></h2>
<ol class="knots read">
<%= render :partial => 'knot', :collection => @knots.read %>
</ol>

<div id="trashcan" >
  <%=t("knots.index.trash_count") %>
</div>


