<p>
  <b>Url:</b>
  <%=h @knot.url %>
</p>

<p>
  <b>Summary:</b>
  <%=h @knot.summary %>
</p>

<p>
  <b>Title:</b>
  <%=h @knot.title %>
</p>

<p>
  <b>State:</b>
  <%=h @knot.state %>
</p>

<p>
  <b>User:</b>
  <%=h @knot.user_id %>
</p>


<%= link_to 'Edit', edit_knot_path(@knot) %> |
<%= link_to 'Back', knots_path %>