%p
  %b= t("knots.show.url_label") + ":"
  = h @knot.url
%p
  %b= t("knots.show.summary_label") + ":"
  = h @knot.summary
%p
  %b= t("knots.show.title_label") + ":"
  = h @knot.title
%p
  %b= t("knots.show.state_label") + ":"
  = h @knot.state
%p
  = link_to t("knots.show.edit_link"), edit_knot_path(@knot)
  |
  \#{link_to t("knots.show.back_link"), knots_path}
