<div id="footer">
<p><%= t("This application has been brought you by") %> <%= link_to "Bru", "http://chaosncoffee.com"%>, <%= t "heavily inspired by <a href='http://marco.org'>Marco</a>'s <a href='http://instapaper.com'>Instapaper</a>" %>.</p>
<span id="links"><%= link_to t("project home"), "http://code.google.com/p/filo" %></span> &bull; <%= link_to t("report issues"), " http://code.google.com/p/filo/issues/list"%> &bull; <%= mail_to "bru@codewitch.org", "bru@codewitch.org", :encode => "javascript" %></span>
</div>