- if user_signed_in?
  = link_to image_tag(avatar_url(current_user), :class => "avatar"), user_url(current_user)
  %ul
    %li
      %span#greeting
        = t "layouts._header.hello"
        = link_to h(current_user.nick_or_email), user_url(current_user)
        \!
    %li.actions
      %span#settings= link_to t("layouts._header.settings"), edit_user_url(current_user)
      \&bull;
      %span#logout
        = link_to t("layouts._header.sign_out"), destroy_user_session_path
        ?
- else
  - if (show_visitor_links?) 
    %span= link_to t("layouts._header.sign_in"), new_user_session_path()
    \&bull;
    %span= link_to t("layouts._header.sign_up"), new_user_registration_path()
    \&bull;
  %span
    [
    = link_to "en", { :locale => "en"}, { :title => t("layouts._user_nav.set_en") }
    ]
  %span
    [
    = link_to "it", { :locale => "it"}, { :title => t("layouts._user_nav.set_it") }
    ]