!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      Filo :: #{beautify_title}
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    = stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes'
  %body
    #container
      = render :partial => 'layouts/header'
      = flash_messages
      = yield
