<html>
 <head>
  <title>Filo :: <%= beautify_title %></title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no" />
<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
 	<link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag 'jquery', 'md5' %>

 </head>
<body>
<div id="container">
 <div id="flash">
   <% flash.each do |key, value| -%>
     <div id="flash_<%= key %>"><%=h value %></div>
   <% end -%>
 </div> 
 <%= yield %> 
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-111816-3");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>